body {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

header {
  text-align: center;
}

footer, nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav h4 {
  font-family: 'Tangerine';
}

footer h4, nav h4 {
  text-align: left
}

nav ul, footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}
