body {
  font-family: 'Lora';
  background-color: aliceblue;
  color: white;
  border: 3rem;
  margin: 2rem;
  background-image: url('../images/capri.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  align-items: center;
}





.text {
  color: white;
  font-size: 2rem;
  position: relative;
  text-align: center;
}

.main h1 {
  opacity: .8;
  color: white;
  font-size: 3rem;
  position: relative;
  text-align: center;
}
.main h3, .menu {
  opacity: .8;
  color: white;
  font-size: 2rem;
  position: relative;
  text-align: center;
}

.menu .current {
  font-weight: 700;
  color: grey;
}



.portfolio-container, .blog-container, .about-container {
  color: white;
  font-size: 1.5rem;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  opacity: .6;
  align-items: center;
  justify-content: center;
}



.project {
  background-color: lightgrey;
  background: rgba(191, 191, 191, 0.8);
  border-radius: 25px;
  width: 50%;
  height: 300px;
  margin: 10px;
  padding-bottom: 10px;
}
.post {
  background-color: lightgrey;
  background: rgba(191, 191, 191, 0.8);
  border-radius: 25px;
  width: 50%;
  height: 500px;
  margin: 10px;
  padding-bottom: 10px;
}
.info {
  background-color: lightgrey;
  background: rgba(191, 191, 191, 0.8);
  border-radius: 25px;
  width: 75%;
  margin: 10px;
  padding-bottom: 10px;
  font-size: 1.25rem;
}

.project:hover, .post:hover, .info:hover {
  background-color: white;
  color: black;

}

.project:hover a, .post:hover a {
  background-color: white;
  color: black;

}

.menu p {
  margin-bottom: 0;
}

.menu {
  margin-bottom: 20px;
}

.menu sub {
  font-size: 1.5rem;
}

nav ul, footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
}


a:link {
  text-decoration: none;
  color: white;
}
.menu a:hover {
  color: black;
}

body a:hover {
  color: lightgrey;
}

a:visited {
  color: white;
}
