body {
  display: flex;
  /* grid-template-rows: 1fr 3fr 1fr; */
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Fugaz One';
  background-color: gainsboro;
}

.main {
  text-align: center;
  color: crimson;
  flex: 1;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header h1 {
  text-align: left;
}
/* footer {
  flex-shrink: 0;
} */

nav ul, footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
}

nav ul li {
  padding: 20px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: gray;
}

header a:visited {
  color: black;
}

footer img {
  width: 20px;
  height: 20px;
  padding: 20px;
}

.main sub {
  font-size: 12pt;
}
